name: Look4Sat CI

on:
  workflow_dispatch:
  push:
    tags:
      - v**

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Latest Commit
        uses: actions/checkout@v4

      - name: Setup java environment
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Assemble APK
        run: |
          chmod +x ./gradlew
          ./gradlew assembleRelease

      - name: Sign APK
        uses: r0adkll/sign-android-release@v1
        id: sign_apk
        with:
          releaseDirectory: app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
          keyStorePassword: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
          alias: ${{ secrets.ANDROID_KEY_ALIAS }}
          keyPassword: ${{ secrets.ANDROID_KEY_PASSWORD }}
        env:
          BUILD_TOOLS_VERSION: "35.0.1"

      - name: Rename APK
        run: |
          mv "${{ steps.sign_apk.outputs.signedReleaseFile }}" app/build/outputs/apk/release/look4sat.apk

      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "app/build/outputs/apk/release/look4sat.apk"
          bodyFile: fastlane/metadata/android/en-US/whatsnew/whatsnew-en-US
          token: ${{ secrets.RELEASE_TOKEN }}
